<!--  START CONTAINER FLUID -->
<div class="container-fluid sm-padding-10 sm-gutter p-l-25 p-r-25 p-b-25 p-t-0">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <div class="panel panel-transparent">
                <div class="panel-heading m-b-20">
                    <div class="panel-title">Deposit AUD</div>
                    <div class="panel-title-text">
                        <p>We accept transfers from your linked Australian back account.</p>
                        <p>To get started enter the required amount and choose your account from the list.</p>
                        <p>Furthur instructions will be provided once submitted.</p>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed" id="deposit-aud-table-one" ui-options="table_options">
                            <thead>
                                <tr>
                                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Name</th>
                                    <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">amount</th>
                                    <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right p-r-60">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="ff-lato">
                                <tr>
                                    <td class="v-align-middle">{{bankAccounts.account_name}}</td>
                                    <td class="v-align-middle text-center"> <input ng-model="deposite_aud_amount" required></td>
                                                                       
                                    <td class="v-align-middle text-right">
                                        <button class="btn btn-success btn-cons btn-deposit" type="button" ng-click="btnDepositeClick()">
                                            <i class="fa fa-arrow-down"></i><span class="bold">&nbspDeposit</span>
                                        </button>                                  
                                    </td>                                    
                                </tr>
                            </tbody>
                        </table>
                        <div class="table-detail popup-diag" ng-show="table_detail_style1">
                            <div class="">
                                <div><p>Use the following details to finalise the request</p></div>
                                <table>
                                    <tr>
                                        <td><span>Account Name:</span></td>
                                        <td><span>{{bankAccounts.label}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>Account Number:</span></td>
                                        <td><span>{{bankAccounts.account_name}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>BSB Number:</span></td>
                                        <td><span>{{bankAccounts.account_number}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>Reference:</span></td>
                                        <td><span>{{referenceNumber}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>Amount:</span></td>
                                        <td><span>{{bankAccounts.amount}}</span></td>
                                    </tr>
                                </table>
                                <div>
                                    <p>Please ensure the reference number matches exactly,</p>
                                    <p>otherwise there will be a delay in processing your request,</p>
                                    <p>We only accept deopsits from your linked bank account,</p>
                                    <p>any deposits from a third party account will be rejected.</p>
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-success" ng-click="table_detail_style = false"> CLOSE </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <div class="panel panel-transparent">
                <div class="panel-heading m-b-20">
                    <div class="panel-title">AUD Deposit History</div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" id="depositaud-transfors-hist-table">
                        <table ng-table="usersTable" class="table table-hover table-condensed" id="deposit-aud-hist-table" ui-options="table_options">
                            <thead>
                                <tr>
                                    <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left">Date</th>
                                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">Deposits</th>
                                    <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in data">
                                    <td><p>{{toDateReadable(item.created)}}</p></td>
                                    <td><p>{{item.amount}}</p></td>
                                    <td><p>{{item.status}}</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>
        </div>
    </div>    
</div>


<div class="confirm-dialog-box-transparent-layer" ng-show="table_detail_style">
    <div class="confirm-dialog-box deposit-aud">
        <div class="panel-title">
            <span class="title bold">Use the following details to finalise the request
            <button type="button" class="close pull-right" aria-label="Close" ng-click="table_detail_style = false">
              <span aria-hidden="true">&times;</span>
            </button></span>
        </div>
        <div class="panel">
            <div class="table-detail">
                <div><p></p></div>
                    <table>
                        <tr>
                            <td><span>Account Name:</span></td>
                            <td><span>{{bankAccounts.label}}</span></td>
                        </tr>
                        <tr>
                            <td><span>Account Number:</span></td>
                            <td><span>{{bankAccounts.account_name}}</span></td>
                        </tr>
                        <tr>
                            <td><span>BSB Number:</span></td>
                            <td><span>{{bankAccounts.account_number}}</span></td>
                        </tr>
                        <tr>
                            <td><span>Reference:</span></td>
                            <td><span>{{referenceNumber}}</span></td>
                        </tr>
                        <tr>
                            <td><span>Amount:</span></td>
                            <td><span>{{bankAccounts.amount}}</span></td>
                        </tr>
                    </table>
                    <div>
                        <p>Please ensure the reference number matches exactly,</p>
                        <p>otherwise there will be a delay in processing your request,</p>
                        <p>We only accept deopsits from your linked bank account,</p>
                        <p>any deposits from a third party account will be rejected.</p>
                    </div>
            </div>
        </div>
    </div>
</div>
