<!--  START CONTAINER FLUID -->
<div class="container-fluid sm-padding-10 sm-gutter p-l-25 p-r-25 p-b-25 p-t-0 btc-sell-new">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <div class="panel panel-transparent">
                <div class="panel-heading m-b-20">
                    <div class="panel-title">
                        <div>How much would you like to spend?</div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="amount amount-to-buy">
                        <p>Amount to spend</p>
                        <div>
                            <input type="text" value="" />
                            <button class="btn btn-complete">AUD</button>
                        </div>
                    </div>
                    <div class="order-type">
                        <p>Order Type <i class="fa fa-question-circle"></i></p>
                        <div ng-init="oder_type=1">
                            <input type="radio" name="group1" id="r1" value="1" ng-model="oder_type" /><label for="r1">Instant</label>
                            <input type="radio" name="group1" id="r2" value="2" ng-model="oder_type" /><label for="r2">Limit</label>
                        </div>
                    </div>
                    <div class="amount amount-per-btc">
                        <p>BTC to recieve</p>
                        <div>
                            <input type="text" value="" />
                            <button class="btn btn-complete">AUD</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed table-sell-new-btc">
                            <tr>
                                <td>Subtotal</td>
                                <td>311.1 BTC</td>
                            </tr>
                            <tr>
                                <td>DigitalSurge Fee:</td>
                                <td>0.01%</td>
                            </tr>
                            <tr>
                                <td>Approx.BTC:</td>
                                <td>123123</td>
                            </tr>
                        </table>
                        <button class="btn btn-success btn-buy-btc">BUY 100 BTC</button>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="row btc-sell-new-order-list">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <div class="panel panel-transparent">
                <div class="panel-body">
                    <div class="table-responsive">
                        <p>BUY ORDERS</p>
                        <table class="table table-hover table-condensed table-sell-new-btc-buy-order-list">
                            <thead>
                                <th>PRICE</th>
                                <th>VOLUME</th>
                                <th>VALUE</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1000 AUD</td>
                                    <td>12000 BTC</td>
                                    <td>12000 AUD</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <p>SELL ORDERS</p>
                        <table class="table table-hover table-condensed table-sell-new-btc-sell-order-list">
                            <thead>
                                <th>PRICE</th>
                                <th>VOLUME</th>
                                <th>VALUE</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1000 AUD</td>
                                    <td>12000 BTC</td>
                                    <td>12000 AUD</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>
        </div>
    </div>    
</div>