<!--  START CONTAINER FLUID -->
<div class="container-fluid sm-padding-10 sm-gutter p-l-25 p-r-25 p-b-25 p-t-0">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <div class="panel panel-transparent">
                <div class="panel-heading m-b-20">
                    <div class="panel-title">
                        <div>Withdraw AUD</div>
                        
                    </div>
                    <div class="panel-title-text">
                        <p>Select your account and enter the amount you would like to withdraw.</p>
                        <p>(Withdrawals are processed instantly and usually take 24-48 hours to clear into your account)</p>
                    </div>                      
                    <div class="withdraw">
                        <div class="withdraw-title">
                            <p>Available Balance: $ {{toPriceString(available_balance_aud)}} AUD</p>
                        </div>
                    </div>     
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed" id="whithdraw-aud-account" ui-options="table_options">
                            <thead>
                                <tr>
                                    <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Label</th>
                                    <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">Name</th>
                                    <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">BSB</th>
                                    <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">Number</th>
                                    <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">Amount</th>
                                    <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center action">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="ff-lato">
                                <tr>
                                    <td class="v-align-middle semi-bold">{{bankAccount.label}}</td>
                                    <td class="v-align-middle text-center">{{bankAccount.account_name}}</td>
                                    <td class="v-align-middle text-center">{{bankAccount.bank_state_branch}}</td>
                                    <td class="v-align-middle text-center">{{bankAccount.account_number}}</td>
                                    <td class="v-align-middle text-center"> <input ng-model='withdraw_amount'/></td>
                                    <td class="v-align-middle text-center"> 
                                        <button class="btn btn-success btn-cons btn-add-account m-r-20" type="button" ng-click="btnWithdrawClick()">
                                            <i class="fa fa-arrow-up"></i><span class="bold">&nbspWithdraw</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <div class="panel panel-transparent">
                <div class="panel-heading m-b-20">
                    <div class="panel-title">AUD Withdrawal History</div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" id="withdrawaud-transfer-hist-table">
                        <table ng-table="usersTable" class="table table-hover table-condensed" id="withdraw-aud-transfer-histroy" ui-options="table_options">                 
                            <thead>
                                <tr>
                                    <th class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">Date</th>
                                    <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in data">
                                    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left" ><p>{{toDateReadable(item.created)}}</p></td>
                                    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center" ><p>$ {{toPriceString(item.amount)}}</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>
        </div>
    </div>    
</div>